@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", system-ui, -apple-system, sans-serif;
}

.light {
  background-image: url("../assets/bg-light.png"); /* Light mode background */
  background-position: center;
  background-size: cover;
}

.dark {
  background-image: url("../assets/bg.png"); /* Dark mode background */
  background-position: center;
  background-size: cover;
}

@layer utilities {
  .bg-gradient-text {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.dot {
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.overlay {
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.transition-transform {
  transition: transform 0.3s ease;
}

.scale-0 {
  transform: scale(0);
}

.scale-100 {
  transform: scale(1);
}
